/*
 * Copyright 2024 Hounjoung Rim <hounjoung@tsnlab.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <arm/tcc/tcc70xx.dtsi>
#include <arm/tcc/tcc7045.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	compatible = "tcc,topst_vcc45";
	model = "TOPST VCP45 Cortex-R5";

	aliases {
		led0 = &led_act;
	};

	chosen {
//		zephyr,sram = &sram0;
		zephyr,sram = &ram_dlm;
		zephyr,flash = &flash0;
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
	};

	leds {
		compatible = "gpio-leds";

		led_act: led-act {
			gpios = <&gio_aon 9 GPIO_ACTIVE_LOW>;
			label = "ACT";
		};
	};

};

&ram_ilm {
	reg = <0x00000000 0x00020000>;
};

&ram_dlm {
	reg = <0x00080000 0x00020000>;
};

&flash0 {
    reg = <0x20000000 0x200000>;

    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 0x10000>;
        };
        slot0_partition: partition@10000 {
            label = "image-0";
            reg = <0x10000 0x70000>;
        };
        slot1_partition: partition@80000 {
            label = "image-1";
            reg = <0x80000 0x70000>;
        };
        scratch_partition: partition@f0000 {
            label = "image-scratch";
            reg = <0xf0000 0x4000>;
        };
        storage_partition: partition@f4000 {
            label = "storage";
            reg = <0xf4000 0x0000b000>;
        /* region <0xff000 0x1000> is reserved for Telink B91 SDK's data */
        };
    };
};

&gio_aon {
	//status = "okay";
};

&ttc0 {
	status = "okay";
	clock-frequency = <200000000>;
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	clock-frequency = <99999901>;
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	clock-frequency = <99999901>;
};
