# Copyright 2024 Hounjoung Rim <hounjoung@tsnlab.com>
# SPDX-License-Identifier: Apache-2.0

config SOC_TCC7045
	select ARM
	select CPU_CORTEX_R5
    select CPU_HAS_ARM_MPU
	select ARM_ARCH_TIMER if SYS_CLOCK_EXISTS
