/*
 * Copyright 2024 Hounjoung Rim <hounjoung@tsnlab.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <mem.h>
#include <arm/armv7-r.dtsi>
#include <zephyr/dt-bindings/interrupt-controller/arm-gic.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
    model = "Telechips MCU";
    compatible = "telechips,tcc70xx";
    interrupt-parent = <&gic>;
    #address-cells = <1>;
    #size-cells = <1>;

    aliases: aliases {
        adc = &adc;
        serial0 = &uart0;
        serial1 = &uart1;
        serial2 = &uart2;
        serial3 = &uart3;
        serial4 = &uart4;
        serial5 = &uart5;
        gpsb0 = &gpsb0;
        gpsb1 = &gpsb1;
        gpsb2 = &gpsb2;
        gpsb3 = &gpsb3;
        gpsb4 = &gpsb4;
        i2c0 = &i2c0;
        i2c1 = &i2c1;
        i2c2 = &i2c2;
        i2c3 = &i2c3;
        i2c4 = &i2c4;
        i2c5 = &i2c5;
        dma0 = &dma0;
        dma1 = &dma1;
        dma2 = &dma2;
        dma3 = &dma3;
        dma4 = &dma4;
        dma5 = &dma5;
        dma6 = &dma6;
        dma7 = &dma7;
        i2s0 = &i2s0;
        spdif0 = &spdif0;
    };

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-r5f";
			reg = <0>;
		};
	};

    memory@00000000 {
        #address-cells = <1>;
        #size-cells = <1>;
        device_type = "mmio-sram";
        reg = <0x00000000 0x80000>, /* 512-KB SRAM */
              <0xffff0000 0x2000>;  /* 8-KB Boot ROM */
    };

    cr5con@a0f21000 {
        compatible = "cr5con";
        reg = <0xa0f21000 0x0078>; /* Cortex-R5 Configuration Register Bank */
    };

    interrupt-parent = <&gic>;

    gic: interrupt-controller@a0f10000 {
        compatible = "arm,gic-400";
        reg = <0xa0f10000 0x1000>,
              <0xa0f11000 0x100>;
        interrupt-controller;
        #interrupt-cells = <4>;
        status = "okay";
    };

    external_flash@40000000 {
        compatible = "telechips,serial-nor";
        reg = <0x40000000 0x200000>,  /* External Serial-NOR0 Flash Area */
              <0x48000000 0x4000000>; /* External Serial-NOR1 Flash Area */
    };

	bus_interconnect {

        ahb {
            compatible = "simple-bus";
            #address-cells = <1>;
            #size-cells = <1>;
            ranges;

            flash@20000000 {
                compatible = "telechips,flash";
                reg = <0x20000000 0x200000>, /* Program Flash Area */
                      <0x30000000 0x40000>;  /* Data Flash Area */
            };

            dma@a0800000 {
                compatible = "telechips,dma";
                reg = <0xa0800000 0x1000>, /* General DMA Controller -0 */
                      <0xa0810000 0x1000>, /* General DMA Controller -1 */
                      <0xa0820000 0x1000>, /* General DMA Controller -2 */
                      <0xa0830000 0x1000>, /* General DMA Controller -3 */
                      <0xa0840000 0x1000>, /* General DMA Controller -4 */
                      <0xa0850000 0x1000>, /* General DMA Controller -5 */
                      <0xa0860000 0x1000>, /* General DMA Controller -6 */
                      <0xa0870000 0x1000>; /* General DMA Controller -7 */
            };

            flashctrl@a1000000 {
                compatible = "telechips,flashctrl";
                reg = <0xa1000000 0x8064>; /* Program Flash Controller */
            };

            dataflashctrl@a1080000 {
                compatible = "telechips,dataflashctrl";
                reg = <0xa1080000 0x8064>; /* Data Flash Controller */
            };

            /* SFMC CFG */

            /* IRQ ControllerCFGS */

            ahb_to_apb {
                compatible = "simple-bus";
                #address-cells = <1>;
                #size-cells = <1>;
                ranges;

                /* System CFG */
                syscon@a0f20000 {
                    compatible = "syscon";
                    reg = <0xa0f20000 0x0078>; /* System Configuration Register Bank */
                };

                /* CCU */
                /* CMU */
                /* SYS SM Cont' */
                /* Default Slave IRQ Cont' */

                /* GPIO */
                gpio@a0f22000 {
                    compatible = "telechips,tcc-gpio";
                    reg = <0xa0f22000 0x0f08>;
                    gpio-controller;
                    #gpio-cells = <2>;
                };

                /* WDT */
                wdt@a0f23000 {
                    compatible = "telechips,watchdog";
                    reg = <0xa0f23000 0x0018>; /* Windowed Watchdog Timer */
                };

                rtc@a0f28c00 {
                    compatible = "telechips,rtc";
                    reg = <0xa0f28c00 0x004c>; /* RTC */
                };

                /* TIMER */
                timer@a0f2a000 {
                    compatible = "telechips,timer";
                    reg = <0xa0f2a000 0x0020>, /* Timer -0 */
                          <0xa0f2a100 0x0020>, /* Timer -1 */
                          <0xa0f2a200 0x0020>, /* Timer -2 */
                          <0xa0f2a300 0x0020>, /* Timer -3 */
                          <0xa0f2a400 0x0020>, /* Timer -4 */
                          <0xa0f2a500 0x0020>, /* Timer -5 */
                          <0xa0f2a600 0x0020>, /* Timer -6 */
                          <0xa0f2a700 0x0020>, /* Timer -7 */
                          <0xa0f2a800 0x0020>, /* Timer -8 */
                          <0xa0f2a900 0x0020>; /* Timer -9 */
                };
            };
        };

        apb {
            compatible = "simple-bus";
            #address-cells = <1>;
            #size-cells = <1>;
            ranges;

            canfd@a0000000 {
                compatible = "telechips,canfd";
                reg = <0xa0000000 0x00fc>, /* CAN FD Controller-0 */
                      <0xa0010000 0x00fc>, /* CAN FD Controller-1 */
                      <0xa0020000 0x00fc>; /* CAN FD Controller-2 */
            };

            gpsb@a0100000 {
                compatible = "telechips,gpsb";
                reg = <0xa0100000 0x0038>, /* GPSB Controller-0 */
                      <0xa0110000 0x0038>, /* GPSB Controller-1 */
                      <0xa0120000 0x0038>, /* GPSB Controller-2 */
                      <0xa0130000 0x0038>, /* GPSB Controller-3 */
                      <0xa0140000 0x0038>; /* GPSB Controller-4 */
            };

            uart@a0200000 {
                compatible = "telechips,tcc-uart";
                reg = <0xa0200000 0x004c>, /* UART Controller-0 */
                      <0xa0210000 0x004c>, /* UART Controller-1 */
                      <0xa0220000 0x004c>, /* UART Controller-2 */
                      <0xa0230000 0x004c>, /* UART Controller-3 */
                      <0xa0240000 0x004c>, /* UART Controller-4 */
                      <0xa0250000 0x004c>; /* UART Controller-5 */
            };

            i2c@a0400000 {
                compatible = "telechips,i2c";
                reg = <0xa0400000 0x0028>, /* I2C Master Controller-0 */
                      <0xa0410000 0x0028>, /* I2C Master Controller-1 */
                      <0xa0420000 0x0028>, /* I2C Master Controller-2 */
                      <0xa0430000 0x0028>, /* I2C Master Controller-3 */
                      <0xa0440000 0x0028>, /* I2C Master Controller-4 */
                      <0xa0450000 0x0028>; /* I2C Master Controller-5 */
            };

            pdm@a0700000 {
                compatible = "telechips,pdm";
                reg = <0xa0700000 0x0094>, /* PDM Module-0 */
                      <0xa0710000 0x0094>, /* PDM Module-1 */
                      <0xa0720000 0x0094>; /* PDM Module-2 */
            };

            ictc@a0600000 {
                compatible = "telechips,ictc";
                reg = <0xa0600000 0x0050>, /* INPUT CAPTURE TIME COUNTER-0 */
                      <0xa0610000 0x0050>, /* INPUT CAPTURE TIME COUNTER-1 */
                      <0xa0620000 0x0050>, /* INPUT CAPTURE TIME COUNTER-2 */
                      <0xa0630000 0x0050>, /* INPUT CAPTURE TIME COUNTER-3 */
                      <0xa0640000 0x0050>, /* INPUT CAPTURE TIME COUNTER-4 */
                      <0xa0650000 0x0050>; /* INPUT CAPTURE TIME COUNTER-5 */
            };

            adc@a0080000 {
                compatible = "telechips,adc";
                reg = <0xa0080000 0x00b8>, /* ADC Controller-0 */
                      <0xa0090000 0x00b8>; /* ADC Controller-1 */
            };

        };

	};
};
