/*
 * Copyright 2024 Hounjoung Rim <hounjoung@tsnlab.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <mem.h>
#include <arm/armv7-r.dtsi>
#include <zephyr/dt-bindings/interrupt-controller/arm-gic.h>

/ {
	soc {
		flash0: flash@20000000 {
			compatible = "soc-nv-flash";
			reg = <0x20000000 DT_SIZE_M(32)>;
		};

		sram0: memory@0 {
			compatible = "mmio-sram";
			reg = <0x0 0x79980>;
		};

		arm_stack: memory@79980 {
			compatible = "mmio-sram";
			reg = <0x79980 0x680>;
		};

		can_nc_sram: memory@7a000 {
			compatible = "mmio-sram";
			reg = <0x7a000 0x2000>;
		};

		nc_sram: memory@7c000 {
			compatible = "mmio-sram";
			reg = <0x7c000 0x4000>;
		};

		remap_flash: flash@1043000 {
			compatible = "soc-nv-flash";
			reg = <0x01043000 0x00200000>;
		};

		uart0: uart@a0200000 {
			compatible = "arm,pl011";
			reg = <0xa0200000 0x4c>;
			status = "disabled";
			interrupts = <GIC_SPI 16 IRQ_TYPE_LEVEL
						IRQ_DEFAULT_PRIORITY>;
			interrupt-names = "irq_16";
			clocks = <&clk_uart>;
		};

		uart1: uart@a0210000 {
			compatible = "arm,pl011";
			reg = <0xa0210000 0x4c>;
			status = "disabled";
			interrupts = <GIC_SPI 17 IRQ_TYPE_LEVEL
						IRQ_DEFAULT_PRIORITY>;
			interrupt-names = "irq_17";
			clocks = <&clk_uart>;
		};

		ttc0: timer@a0f2a000 {
			//compatible = "tcc,ttcvcp";
			compatible = "xlnx,ttcps";
			status = "disabled";
			interrupts = <GIC_PPI 56 IRQ_TYPE_LEVEL
						IRQ_DEFAULT_PRIORITY>;
			interrupt-names = "irq_56";
			reg = <0xa0f2a000 0x20>;
		};

		ttc1: timer@a0f2a100 {
			//compatible = "tcc,ttcvcp";
			compatible = "xlnx,ttcps";
			status = "disabled";
			interrupts = <GIC_PPI 57 IRQ_TYPE_LEVEL
						IRQ_DEFAULT_PRIORITY>;
			interrupt-names = "irq_57";
			reg = <0xa0f2a100 0x20>;
		};

		gpioa@a0f22000 {
			compatible = "simple-bus";
			reg = <0xa0f22000 0x40>;

			#address-cells = <1>;
			#size-cells = <0>;

			gpio-controller;
			#gpio-cells = <1>;
			interrupt-controller;
			#interrupt-cells = <1>;
			source-num = <1 0 1 31>;
			label = "gpioa";
//			gpio-ranges = <&pinctrl 0 0 32>;
			gio_aon: gpio@0 {
				compatible = "tcc,tccvcp-gpio";
				reg = <0>;
				gpio-controller;
				#gpio-cells = <2>;
				ngpios = <31>;
				status = "ok";
			};
		};

	};

	pinctrl {
		pinctrl_gpio {
			gpa {
				pin-info = <0x0 0 31>;
				source-num = <1 0 1 31>;
			};

			gpb {
				pin-info = <0x40 0 29>;
				source-num = <1 0 32 50>;
			};

			gpc {
				pin-info = <0x80 0 22>;
				source-num =  <1 0 61 30>;
			};

			gpk {
				pin-info = <0xc0 0 18>;
				source-num = <0xff>;
			};
		};
	};

	clocks {
		clk_uart: clk_uart {
			compatible = "fixed-clock";
			clock-frequency = <44236800>;
			#clock-cells = <0>;
		};
	};

};
