# Copyright (c) 2019 Lexmark International, Inc.
# Copyright (c) 2019 Stephanos Ioannidis <root@stephanos.io>
# SPDX-License-Identifier: Apache-2.0

config SOC_TCC7045
	bool

config SOC
	default "tcc7045" if SOC_TCC7045
